<div class="profile">
  <div class="profile-info">
    <%- avatar %>

  </div>
  <div class="profile-calendar">
    <%- vcard %>
    <a href="<%= url %>"><%= url %></a>
    <%- calendar %>
  </div>
  <hr/>
</div>
